{% extends 'base.html' %}

{% set plen = scalars[0] %}
{% set inbound = scalars[1] %}
{% set outbound = scalars[2] %}

{% block body %}
<p>Count: {{ plen }}  Inbound: {{ inbound }}  Outbound: {{ outbound }}</p><br>
<pre><code>
{{ text_output }}
    </code></pre>
{% endblock body %}
